<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/styles.css">
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>What Ingredients Do you Want In Your Cookbook?</h1>
    <a href="/users/<%= user._id %>/foods/new">Add A Special New Ingredient</a>
  </body>
</head>
<body>
  <div class="background-section">
    <!-- Additional content can go here if needed -->
  </div>
  <% if (user) { %>
    <h1>Welcome To Your Happy Little Cookbook, <%= user.username %>!</h1>
    <p>
      <a href="/auth/sign-out">Sign Out and Go Cook</a>
    </p>
  <% } else { %>
    <h1>Welcome to this recipe-slinging app, gustario!</h1>
    <p>
      <a href="/auth/sign-up">Sign up</a> or
      <a href="/auth/sign-in">Sign in</a>.
    </p>
  <% } %>
  <p><a href="/vip-lounge">Enter the Exclusive VIP Kitchen and Lounge!</a></p>
</body>
</html>
