<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VIP Lounge</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  <div class="container">
    <h1>Welcome to the Exclusive VIP Kitchen and Lounge!</h1>
    <p>Enjoy exclusive recipes, tips, and more!</p>
    <p>Add salt or butter to most anything and it will taste better.</p> Add more exclusive content here -->
  </div>
</body>
</html>